<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>Help Page with partials</title>
</head>
  <body>
    <h1>We'll be right back</h1>
    <p>
      Thi site is currently being updated.
    </p>
  </body>
</html>
